
/****General styles **/
main, header, section, aside, footer {
  margin: 0;
  padding: 10px;
  border: 1px solid #000000;
  color: @shark;
}

main {
  background: #000000;
}

/***Header Section***/
header {
  background: #03a9f4;
  padding: 0;
}

.header-img-container {
 
  padding: 0;
}

/*** Content Section ***/

.content {
  background:@white;
}

/*****Content cards*****/
.content-card{
  background: @white2;
  color:@shark;
  width:100%;
  .border;
  padding: 4%;
  margin-bottom: 4%;
  .box-shadow;
 
}

/*****Testimonial Section****/
.content-testimonials{
  background: @white2;
  color:@shark;
  width:100%;
  
  padding: 4%;
  margin-bottom: 4%;
}

.content-testimonials-container{
  .display-flex(row, space-between, center);
  font-style: italic;
  margin-bottom: 4%;
  padding: 4%;
 .border;
 .box-shadow;
}

.testimonial-img-container img{
 display:none;
  .border;
  border-radius:50%;
}



/******Buttons*********/
.btn-cta{
  .cta-btn;
  width: 100%;
  margin-bottom: 4%;
}

 .btn-cta a{
   color: @white;
 }


// home