main, header, section, aside, footer {
  margin: 0;
  padding: 10px;
  border: 1px solid #000000;
  color: #ffffff;
}

main {
  background: #000000;
}

header {
  background: #03a9f4;
  padding: 0;
}

.header-img-container {
 
  padding: 0;
}

.content {
  background: #129a22;
}

.content-testimonials{
  
  background-color: purple;
}

.content-testimonials-container{
  border:1px solid goldenrod;
}

footer {
  border: 1px solid #000000;
  background: #616161;
}// home