// Mixins 
.border(){
    border: px solid @shark;
 }

.border-bottom(){
    border-bottom: px solid @shark;
 }
 
 .display-flex(@direction,@justify, @align){
     display: flex;
     flex-direction: @direction;
     justify-content: @justify;
     align-items: @align;
 }
 
 .cta-btn(@bg-color:@accent2, @width:48%, @height:35px,@font-color:@white){
     display: block;
     border:none;
     background-color: @bg-color;
     width: @width;
     height:@height;
     color: @font-color
 }

 //Mobile varialbles
 @phone: ~ '(max-width: 500px)';
 @tablet: ~ '(max-width: 800px)';