// Mixins 
.border-dotted(){
    border-bottom: 2px solid @silver;
 }
 
 .display-flex(@direction,@justify, @align){
     display: flex;
     flex-direction: @direction;
     justify-content: @justify;
     align-items: @align;
 }
 
 .cta-btns(@bg-color:@accent2, @width:100%, @height:35px,@font-color:@white){
     display: block;
     background-color: @bg-color;
     width: @width;
     height:@height;
     color: @font-color
 }