// Navigation Styles here

nav.top-nav{
   .display-flex(row,space-between,center);
    background-color:@primary;
    height: 50%;
}

.logo-container{
    width: 30%;
}

.nav-list{
    .display-flex(row,space-between,center);
    width:100%;
    justify-content: space-around;
}

.nav-list a{
    color:@white;
    font-size: 1.4rem;
    line-height: 1.8;
    text-decoration: none;
    margin: 12%;
}