/**** about page specific ****/
.content.about-top{
    @media @phone{
      max-width: 80%;
      margin: auto;
    }
  }
  
  .about-content{
    .border;
    .box-shadow;
    padding: 4%;
    text-align: center;
  
      .about-tagline{
        color:@accent1;
        font-style: italic;
        font-weight:bold;
        font-size: 2.2rem;
      }
  
    }
  
    p{
      text-align: left;
    }
  
    @media @tablet{
      max-width: 80%;
      margin: auto;
      padding: 4%;
    }
  
  .about-gallery{
  .display-flex(column, space-between,center);
  margin-top: 4%;
    .about-gallery-heading{
      text-align: center;
      width:100%
    }
     
    @media @tablet{
      margin:2% auto;
      padding: 4% 4% 0;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  #about-content-top.content{
    .display-flex(row,space-around,center);
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
  
    .about-card{
      .display-flex(column, center, space-evenly); 
      .border;
      .box-shadow;
      width: 100%;
      margin-bottom: 4%;
      padding: 2%;
  
      .content-card-img-container{
        margin-bottom: 4%;
      }
  
       p{
         margin: auto;
       }
  
      @media @phone{
        width:30%;
      }  
    }
  }
  
  #about-cta-container{
  margin:auto;
  @media @tablet{
    .display-flex(column,center,center);
    width:40%
  }
  
  }
  
  .about-email-btn-container{
    .display-flex(column,center,center);
  
   a{
    .email-btn();
  
    }
  }